// FOOTER
* { margin: 0; }

html, body { 
    height: 100%; 
}

#inner-footer {
    text-align:center;
    padding: 80px 0;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    background-color:#000;
}

.ftlogo-container {
    vertical-align: top;
}

.ftlogo-container, .ftaddress-container, .ftsocial-container {
    text-align: left;
    display: block;
    margin: auto;
}

.ftaddress-container {
    width:auto;
    text-align: center;
    p {
        font-size: 19px;

        @media(max-width: 480px) {
            font-size: 16px;
        }
    }
}

.ftsocial-container ul { margin:0; }

.social a {
    display: block;
    position: relative;
    margin: auto;
}

.Tumblr {
    img {
        position: absolute;
        top:0;
        width: 100px;
        height:100px;
        @include transition(all 0.2s ease-in-out);
    }

    .dr-hov {
        opacity: 0;
    }

    width: 100px;
    height:100px;
    outline-color: transparent !important;
    @include transition(all 0.2s ease-in-out);
    &:hover {

        .dr-hov {
            opacity: 1;
        }
        .dr-ori {
            opacity: 0;
        }
    }
}

.footer { 
    position: static; 
    border-top: 1px solid #343536;
    background-color: black;
}

#container { 
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -370px;
    overflow-x: hidden;

    &:after {
        content: "";
        display: block;
    }
}

.ftaddress-container {
    margin-top: 20px;
    a {
        text-decoration: none !important;
        color: inherit !important;
    }
}

footer {
    width: 100%;
}

#inner-footer { 
    padding: 25px 2px; 
}
#container { margin-bottom: -250px; }
.footer, #container:after { height: 250px; }