// FOOTER
* { margin: 0; }

html, body { 
    height: 100%; 
    overflow-x:hidden;
}

// social links images
#inner-footer {
    text-align:center;
    padding: 80px 0;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
}

.social {
    float: left;
    margin-right: 20px;
}

.ftlogo-container {
    vertical-align: top;
    margin-top: 50px;
}

.ftlogo-container, .ftaddress-container, .ftsocial-container {
    text-align: left;
    display: block;
    float: left;
    margin: 0 8px;
}

@media(max-width: 480px) {
    .ftlogo-container,
    .ftaddress-container { margin-bottom: 8px; }
}

.ftaddress-container {
    float: left;
    width:auto;

    @media(min-width: 481px) {
        float: left;
        width:auto;
    }
}

.ftsocial-container { 
    float:left;
    margin-top:16px;
    margin-left:8px;

    @media(min-width:481px) {
        margin-left: 50px;
    }
    @media(min-width: 872px) {
        margin-top:0;
    }
    @media(min-width:950px) {
        float:right; 
        margin-left: 8px;
    }
}

.ftlogo-container, .ftaddress-container { 
    margin-right:0;
    margin-left:10px;

    @media(min-width:481px) {
        margin-left: 50px;
    }
}

.ftsocial-container ul { margin:0; }

.social a {
    width: 80px;
    height:80px;
    display: inline-block;
}

.Tumblr { background: url(../../../../../img/Tumblr.jpg) center center no-repeat; }
.Facebook { background-image: url(../../../../../img/Facebook.jpg); }
.Instagram { background-image: url(../../../../../img/Instagram.jpg); }
.Map { background-image: url(../../../../../img/Map.jpg); }
.Mail { background-image: url(../../../../../img/E-mail.jpg); }

.footer { position: static; }

#container { 
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -370px;
    overflow-x: hidden;

    &:after {
        content: "";
        display: block;
    }
}

.ftaddress-container {
    a {
        text-decoration: none !important;
        color: inherit !important;
    }
}

// Footer 
footer {
    position: absolute; 
    width: 100%;
}

@media (max-width: 555px) {
    .social a {
        width: 55px;
        height: 55px;
        background-size: 55px 55px;
    }

    .ftaddress-container { margin-right: 0px; }

}

#inner-footer { 
    padding: 60px 2px; 
    @media(min-width:481px) {
        padding: 80px 2px;
    }
}

@media (max-width: 419px) { 
    .social { margin-right: 10px; } 
}

.footer, #container:after { height: 370px; }

@media(min-width:400px) {
    #container { margin-bottom: -334px; }
    .footer, #container:after { height: 334px; }
}

@media(min-width:400px) {
    #container { margin-bottom: -350px; }
    .footer, #container:after { height: 350px; }
}

@media(min-width:556px) {
    #container { margin-bottom: -359px; }
    .footer, #container:after { height: 359px; }
}

@media(min-width:1040px) {
    #container { margin-bottom: -322px; }
    .footer, #container:after { height: 322px;  }
}

// FOOTER RAINBOW
#transition img {
     background-position: 0 0;
     background-size: 200% 100%;
     background-color: red;
     background-image: -webkit-linear-gradient(left, #bb2030, #e6cf47, #8cc453, #19a486, #0c6faf, #ad0c6b);
     background-image:    -moz-linear-gradient(left, #bb2030, #e6cf47, #8cc453, #19a486, #0c6faf, #ad0c6b); 
     background-image:     -ms-linear-gradient(left, #bb2030, #e6cf47, #8cc453, #19a486, #0c6faf, #ad0c6b);
     background-image:      -o-linear-gradient(left, #bb2030, #e6cf47, #8cc453, #19a486, #0c6faf, #ad0c6b);
     background-image:         linear-gradient(left, #bb2030, #e6cf47, #8cc453, #19a486, #0c6faf, #ad0c6b);

    @include prefix(transition, all 0.3s ease-out);
}

#transition img:hover { background-position: -100% 100%; }