// MOBILE MENU STYLES
.menu-icon {
    position: relative;
    width: 3em;
    height: 3em;
    cursor: pointer;
    /* to center */
    margin: 0 auto;
    float: none;
    text-align: left;
    @include prefix(transition, all 0.3s);
}

.menu-icon > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 80%;
    height: 0.25em;
    background-color:#ffffff;
    border-radius: 0px;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 99%;
  height: 90%;
  background-color:#ffffff;
  border-radius: 0px;
  @include prefix(transition, all 0.3s);
}

.menu-icon > span:before {
    @include prefix(transform, translateY(-0.7em));
}

.menu-icon > span:after {
    @include prefix(transform, translateY(0.7em));
}

/* OPENED */

.menu-icon.open {
    @include prefix(transform, rotate(45deg));
}

.menu-icon.open > span:after,
.menu-icon.open > span:before { 
    @include prefix(transform, rotate(90deg)); 
}

#inner-header {
    text-align: center;
    background-color: transparent;
}

nav {

    display:block;
    font-size: 1rem;
    // font-weight: 700;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'VerlagBold';
    @include transition(all 0.3s ease-in-out);
}





nav a {
    @include prefix(transition, all 0.3s ease-in-out);

    &:hover { color:#ffffff; }
}

#menu-main-menu .current-menu-item {
    a { color:white; }
}

// MAIN TOP MENU
@media (max-width: 767px) {
    .menu-icon { 
        float: right; 
        z-index: 10;
    }

    nav {
        // display: none;
        text-align: center;
        margin-top:50px;
    }
}

@media (min-width: 768px) {
    .menu-icon { display: none; }

    nav { margin-top: 8px; }

    #menu-main-menu {
        position: relative;
        width: 90%;
        margin: 0 auto;
        max-width: 850px;

        li { 
            width:20%; 
            margin-left: 0;
            margin-right: 0;
        }
    }
}

// CHARLES NEW NAV STYLES
#menu-main-menu {
    @media(max-width: 768px) {
        background: black;
        width:100%;
        

        // position: absolute;
        height: 0;
        left: 0;
        transform: translateY(-350px);
        z-index: 1;
        @include prefix(transform, translateZ(1));
        @include prefix(transform, translateY(-350px));
        @include prefix(transition, all .3s ease-in-out);
    }
}

.menu-display > #menu-main-menu {
    height: 245px;
    padding-bottom:10px;
        padding-top: 10px;
    // display: block;
    @include prefix(transform, translateY(0px));
    @include transition(all 0.3s ease-in-out);
}

@media (max-width: 767px) {
    nav[role="navigation"]:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0px;
        background:#000;
        height: 68px;
        z-index: 4;
        @include prefix(transform, translateZ(4));
    }
}