// WORK EDITORS SCSS

// GALLARY
.thumb-list {
    margin-top: 12px;

    @media(min-width: 768px) { margin-top:0; }

    text-align: center;
    max-width: 1000px;
    margin: auto;

    .thumb {
        display: inline-block;
        padding: 4px;
    }

    .thumb img { 
        width: 295px;
        height: 295px;
    }
}

.video-thumb {
    width: 268px; /* Set width */
    height: 168px; /* Set height */
    display: inline-block;
    margin: 6px 7px;
}


// WORK
.poster-hover {
    background: black;
    opacity:0;
    position: absolute;
    border: 2px solid white;
    color: white;
    text-align: center;
    top:0;
    width: 268px;
    height: 168px;
    text-transform: uppercase;
    @include transition(all 0.3s ease-in-out);

    h3 {
        margin: 0;
        padding-top: 50px;
        font-weight: 700;
        font-size: 1em;
        font-family: 'VerlagBold';
    }

    h4 {
        margin: 5px 0 0 0;
        font-weight: 700;
        font-size: 0.75em;
        font-family: 'VerlagBold';
    }
}

.video-list {
    text-align: center;
    max-width: 1000px;
    margin: auto;

    .poster-container {
        position: relative;
        cursor: pointer;

        img { margin: 0; }

    }

    .poster-container:hover {
        .poster-hover { opacity: 0.7; }
    }
}

// TABS
#work-ul {
    background: rgba(0, 0, 0, 0.5);
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
    margin-bottom: 31px;
    
    &:before {
        content:"";
        position: absolute;
        display: block;
        height: 30px;
        width:100%;
        left:0;
        background: rgba(0, 0, 0, 0.5);
        border-top: 1px solid #838383;
        border-bottom: 1px solid #838383;
        z-index: -1;
        @media(max-width: 835px) { display: none; }
    }

    @media(min-width: 834px) {
        background: none;
        border-top:0;
        border-bottom:0;
    }
}

.tab-container .etabs,
.work-tabs.etabs {
    padding:8px 0;
    @media(min-width: 834px) {
        padding:0;
    }
}

.etabs { 
    margin:0 auto; 
    padding:0;
    text-align: center;
    width:100%;
    max-width: 850px;
}

.tab { 
    display: inline-block; 
    zoom:1; 
    background: transparent; 
}

@media(min-width: 836px) {
    .work-tabs .tab { 
        width: 33.33333%;
        // HIDE OTHER TABS AND ADJUST CSS
        // display: block;
        // float: left;
    }
}

.tab a { 
    font-size: 0.75em;
    padding-top: 1px;
    font-family: 'VerlagBold'; 
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    line-height:30px;
    display: block; 
    outline: none; 
    // font-weight: 700;
    font-weight: 500;

    &:hover { color: #09dcff; }
}

.tab a:hover { color: $tab-blue; }
.tab.active { position: relative; }
.tab a.active { color: $tab-blue; }
.tab-gallery a:hover{ color: $light-green; }
.tab-gallery a.active{ color: $light-green; }

.tab-container .panel-container { 
    background: #fff; 
    border: solid #666 1px; 
    padding: 10px; 
    @include prefix(border-radius, 0 4px 4px 4px);
}

@media (max-width: 835px) {
    // .etabs {
    //     border-top: 3px solid $light-green;
    //     border-bottom: 3px solid $light-green;
    // }

    .tab { display: block; }
    .tab a {line-height: 18px}
    // .tab a { color: #767676; }
    // .tab a:hover { color: $light-green; }
    // .tab a.active {  color: $light-green; }
}

.grid { width: 100%; }
.grid ul { 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.grid ul li {
    list-style-type: none;
    float: left;
    padding: 0px;
    width: 20%;
    white-space: nowrap;

    @include prefix(transition, all 0.2s ease);
}

.grid ul li img {
    width: 100%;
    float: left;
}

// SELECTING PLAYER
.player-select-container {

    h2, p {
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        font-weight: 500;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    h2 { font-size: 1.6em; }
    p { color: #ffba2c; }
}

.players-title { color: white; }

.players-title.blinking { color: #ffba2c; }


.float-top, .float-bottom {
    visibility: hidden;
}

// .player1, .player2 {
.players {
    cursor: pointer;
    width:320px; 
    height:440px;

    &:hover {
        
        .float-top {
            visibility: visible;
            position: relative;
            margin: auto !important;
            -webkit-animation: floatTop 0.3s infinite  normal ease-out;
            animation: floatTop 0.3s infinite  normal ease-out;
        }

        .float-bottom {
            visibility: visible;
            position: relative;
            margin: auto !important;
            -webkit-animation: floatBottom 0.3s infinite  normal ease-out;
            animation: floatBottom 0.3s infinite  normal ease-out;
        }
    }

    div {
        width: 255px; 
        height: 334px; 
        // background-size: 255px 334px;
        @include transition(all 0.3s ease-in-out);
    }

    p {
        text-align: center;       
        font-size: 1.3em;
        line-height: 1em;
        margin: 0;
        
    }
    
}

.players div {
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    background-size: auto;
}

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

// svg {
//     background:url(http://4.bp.blogspot.com/-IzPWLqY4gJ0/T01CPzNb1KI/AAAAAAAACgA/_8uyj68QhFE/s400/a2cf7051-5952-4b39-aca3-4481976cb242.jpg);
// }

// svg image {
//     transition: all .6s ease;
// }

// svg image:hover {
//     opacity: 0;
// }

.mixedContent {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 12px;
    position: relative;
    max-height: 500px;

    h2 { 
        text-align: center; 
        text-transform: uppercase;
        color:white;
    }

    .prev,
    .next {
        position: absolute;
        top:0; bottom:0; 
        margin:auto;
        width: 30px;
        height: 30px;
        color: white;
        background-color: rgba(0,0,0,0.5);
        border: 1px solid #aaa;
        padding: 6px;
        outline: none;
        z-index: 1;
    }

    .prev {
        left:2px;
    }

    .next {
        right:2px;
    }

}

// NEW EDITORS
.editors-wrapper {

    margin: auto;
    text-align: center;
    max-width: 1200px;

    @media (max-width: 767px) {
        margin-top: 180px;
    }

    @media (max-width: 480px) {
        margin: 50px 3% 40px 3%;
        margin-top: 30px;
    }
}
.editors-container {
    position: relative;
    min-height: 74px;
    // display:inline-block;
    display: block;
    // width: 40%;
    //height: 59px;
    margin: 80px 3% 100px 3%;

    @media (max-width: 767px) {
        margin: 60px 3% 50px 3%;
        min-height: 50px;
    }

    img {
        position: absolute;
        @include transition(all 0.3s ease-in-out);
        max-width: 450px;
        left:0;
        right:0;
        margin: auto !important;
         @media (max-width: 767px) {
            max-width: 375px;

        }       
    }

    .e-bottom {
        opacity: 0;
    }

    &:hover {
        .e-bottom {
            opacity: 1;
        }

        .e-top {
            opacity: 0;
        }
    }

        .img_tim {
        width: 84%; 
        max-width: 390px; 
        // top: 3px;
        // @media (max-width: 660px) {
        //     top:2px;

        // }

        @media (max-width: 767px) {
            max-width: 320px;

        }

        //         @media (max-width: 400px) {
        //     top:1px;

        // }
    }

}

.editor-active {
    opacity: 1 !important;
}

.editor-inactive {
    opacity: 0;
}



// white moving frames for players
@-webkit-keyframes floatTop {
    0% {
        top:25px;
        width:250px;
    }
    100% {
        top: 5px;
        width: 265px;
    }
}
@keyframes floatTop {
    0% {
        top:25px;
        width: 250px;
    }
    100% {
        top: 5px;
        width: 265px;
    }
}

@-webkit-keyframes floatBottom {
    0% {
        bottom:25px;
        width:250px;
    }
    100% {
        bottom: 5px;
        width: 265px;
    }
}
@keyframes floatBottom {
    0% {
        bottom:25px;
        width: 250px;
    }
    100% {
        bottom: 5px;
        width: 265px;
    }
}